@import "../../_colors";
.StatsInNum {
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon {
	flex: 0 0 50px;
	margin: 0px 15px 0px 0px;
}
.body {
	display: flex;
	flex-direction: column;
}
.num {
	font-size: 24px;
}
.title {
	color: $smalltext;
}