@charset "UTF-8";
@import '_colors';

@font-face {
	font-family: 'Graphik Web';
	src: local('Graphik-Regular'), local('Graphik-Regular'),
		url('./fonts/Graphik-Regular.woff2') format('woff2'),
		url('./fonts/Graphik-Regular.woff') format('woff'),
		url('./fonts/Graphik-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Graphik Web';
	src: local('Graphik-Medium'), local('Graphik-Medium'),
		url('./fonts/Graphik-Medium.woff2') format('woff2'),
		url('./fonts/Graphik-Medium.woff') format('woff'),
		url('./fonts/Graphik-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Graphik Web';
	src: local('Graphik-Semibold'), local('Graphik-Semibold'),
		url('./fonts/Graphik-Semibold.woff2') format('woff2'),
		url('./fonts/Graphik-Semibold.woff') format('woff'),
		url('./fonts/Graphik-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

aside,
nav,
footer,
header,
section {
   display: block;
}

html,
body {
   min-height: 100%;
   min-width: 320px;
}

body {
   line-height: 1;
   font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
	background: none;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
	color: $links;
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   width: 100%;
   vertical-align: top;
}

svg {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

body {
   color: $text;
   font-size: 15px;
}

body.lock {
   overflow: hidden;
}

#root {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   align-items: stretch;
}
